# To get your tenant token:
#    - log in to https://hosted.mender.io
#    - click your email at the top right and then "My organization"
#    - press the "COPY TO CLIPBOARD"
#    - assign content of clipboard to MENDER_TENANT_TOKEN
#
MENDER_SERVER_URL=https://hosted.mender.io
MENDER_TENANT_TOKEN=this-is-a-token
MENDER_ARTIFACT_NAME=default-release
