# To get your tenant token:
#    - log in to https://hosted.mender.io
#    - click your email at the top right and then "My organization"
#    - press the "COPY TO CLIPBOARD"
#    - assign content of clipboard to MENDER_TENANT_TOKEN
#
# required for yocto builds of edgefarm-image and devtools-image
MENDER_TENANT_TOKEN=
MENDER_USERNAME=
MENDER_PASSWORD=

# required for dobi tasks *-minio-deploy
MINIO_ENDPOINT=minio.ci4rail.com
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
